<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="EjemploConString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root;password=union;database=taxis;"/>-->
    <!--<add name="EjemploConString" providerName="Sql.Data.MySqlClient" connectionString="server=localhost;user id=sa;password=Proyecto123;database=SCB_Prueba;"/>-->
    <add name="EjemploConString" providerName="MySql.Data.SqlClient" connectionString="Server=e70ac96c-b43e-4411-8dff-a459008c90bf.mysql.sequelizer.com;User ID=uyfmfsejwtqjzgqe;Password=M5TXbFYmqkYgh58DF8dv5ARX6tQkdjHkttEGRsmqhaoc3do8UhY7jsnmm5ZQXMhf; database=dbe70ac96cb43e44118dffa459008c90bf;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>